body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0f172a;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #1e3a8a, #0ea5e9);
}

.hero h1 {
  font-size: 50px;
}

/* PLANOS */
.planos {
  text-align: center;
  padding: 50px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
}

.price {
  font-size: 28px;
  color: #22c55e;
}

/* BOTÃO */
.btn {
  display: inline-block;
  background: #22c55e;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}
