:root {
  --fundo-preto: #000000;
  --fundo-card: #0a0a0a;
  
  /* Degradê Dourado Premium idêntico à imagem */
  --dourado-principal: linear-gradient(135deg, #ffe082 0%, #b38f2e 50%, #ffd700 100%);
  --dourado-texto: #e5c158;
  --dourado-brilho: #cca43b;
  
  --texto-branco: #ffffff;
  --texto-cinza: #a0a0a0;
}

body {
  background-color: var(--fundo-preto);
  color: var(--texto-branco);
  font-family: 'Montserrat', sans-serif; /* Fonte imponente que combina com dourado */
}

/* Títulos principais em dourado */
h1, h2, .destaque-gold {
  color: var(--dourado-texto);
  text-shadow: 0px 0px 8px rgba(229, 193, 88, 0.3);
  font-weight: 800;
  text-transform: uppercase;
}
